.item-detail{
    width: 100%;
    min-height: 95vh;
    display: flex;
  }
   .content-detail{
    width: 75%;
    padding: 5%;
  }
  .image-detail img{
    width: 100%;
    padding: 5%;
  }
 
  .name-detail{
    font-size: 40px;
    color: brown;
  }
  .text-detail{
    font-size: 15px;
  }

  .button{
    color: black;
    background-color:brown;
    border: none;
    width: 100%;
    height: 30px;
    padding: 10px 25px;
    text-decoration: none;
  }
